<p id="ex1">Primer exercici</p>
<p>{{this.url}}</p>
<h1 id="groc">Text de prova</h1>
<table border="1px" id="taula">
  <tr>
    <td>hola</td>
    <td>quetal</td>
    <td>adeu</td>
  </tr>
</table>
<p id="textContador">Lorem Ipsum</p>
<p id="numeroPraules"></p>
<img id="imatge"><img>

<!-- Tu HTML -->

<select id="menuOpcions" multiple>
  <option value="opcion1">Opción 1</option>
  <option value="opcion2">Opción 2</option>
  <option value="opcion3">Opción 3</option>
</select>

<div id="resultats"></div>


